/* Created by: Manya
* Created on: Apr 2024
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: rgb(228, 236, 194);
}

.page-content {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.page-content-answer {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

img {
  height: auto;
  width: 250px;
  float: right;
}

body {
  background-color: rgb(182, 225, 204);
}